<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signer</servlet-name>
        <servlet-class>Signer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prepay</servlet-name>
        <servlet-class>Prepay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Credit_Logic</servlet-name>
        <servlet-class>Credit_Logic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>final_serve</servlet-name>
        <servlet-class>final_serve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>executable</servlet-name>
        <servlet-class>executable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payforward</servlet-name>
        <servlet-class>payforward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>com.example.EmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/newhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signer</servlet-name>
        <url-pattern>/newhtml_one</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prepay</servlet-name>
        <url-pattern>/next_payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Credit_Logic</servlet-name>
        <url-pattern>/credit_spending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>final_serve</servlet-name>
        <url-pattern>/open_doc_verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>executable</servlet-name>
        <url-pattern>/executable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payforward</servlet-name>
        <url-pattern>/payforward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/EmailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>newhtml.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <!-- Missing resource -->
        <error-code>404</error-code>
        <location>/Error404.html</location>
    </error-page>
</web-app>
